@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-950 text-gray-100 font-mono;
}

textarea {
  font-family: "JetBrains Mono", "Fira Code", Consolas, monospace;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  @apply bg-gray-900;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  @apply bg-gray-600 rounded;
}
